<?xml version="1.0"?>
<model>
  <name>3DR Iris</name>
  <version>1.0</version>
  <sdf version='1.5'>modalAI.sdf</sdf>

  <author>
   <name>Lorenz Meier and Thomas Gubler</name>
   <email>lorenz@px4.io</email>
  </author>

  <description>
    based on work by lorenz@px4.io
    Added own shit
  </description>
</model>
